body{
    font-family: Helvetica;
    font-size: 16px;
    min-height: 100vh;
    margin: 0;
}

.heading{
    font-family: Raleway;
    text-align: center;
    padding-bottom: 20px;
}

.container{
    margin: 0% 7.5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.description{
    font-weight: bold;
    margin-bottom: 20px;
}

.information, .output{
    width: 48%;
}

.info-text{
    font-size: 12px;
    font-style: italic;
    color: gray;
}

.info-text.username{
    margin: 5px 0px;
    color: red;
    font-style: normal;
    display: none;
}

.info-text.profile{
    margin: 5px 0px;
}

.exp-modifier{
    margin: 10px 0px;
}

img{
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.footer{
    background-color: #f6f6f6;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15px;
    display: flex;
    gap: 10px;
    justify-content: end;
}

.link{
    padding-top: 3px;
    text-decoration: none;
    color: black;
    padding-right: 30px;
}

@media only screen and (max-width: 530px){
    /* .container{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    } */
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 0;
    }

    .information, .output{
        width: 90%;
    }

    .calculate{
        margin-bottom: 5px;
    }

    .footer{
        justify-content: center;
    }
}